<h4>Review the Installation Requirements</h4>
<p>This page will print information about the status of the current system and if it will allow you to use this software.</p>
<table width="400" border="0" cellspacing="0" cellpadding="2">
  <tr>
    <td><strong>Configurations File: </strong></td>
    <td>&nbsp;{CONFIG_FILE_STATUS}</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>PHP Version: </strong></td>
    <td>&nbsp;{PHP_VERSION_STATUS}</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>ZIP File Extraction: </strong></td>
    <td>&nbsp;{ZIP_SUPPORT}</td>
    <td>&nbsp;</td>
  </tr>
</table>
<p>Please take a momement to review the licensing behind this software.</p>
<iframe style="width:650px; height:220px; border: solid 1px #550000;" src="/License.txt"></iframe><br />
<p>By continuing with this installation you agree to be bound by the terms expressed in the license.</p>
<form action="/installer.php?step=check" method="post" enctype="multipart/form-data">
<label>
  <input type="radio" name="agreement" value="1" id="agreement_0">
  I Agree
</label>
<label>
  <input type="radio" name="agreement" value="0" id="agreement_1">
  I Do Not Agree
</label>
&nbsp; 
<input name="" type="submit" value="Continue">
</form>