<h4>Manage Navigation-Panel Links</h4>
<p>In this page you can manage existing links to determine the display order and visibility of links.<br />
First, select the links you would like to display on the main navigation menu.<br />
A new list should populate below the check-box. You can use that list to click-n-drag the items into the<br />
order you want displayed.
</p><br />
<strong style="font-size:14px; font-weight:bold;">Add A New Link: </strong>&nbsp; <a href="{ADD_LINK_URL}">Click Here</a><br />
<br />
{LIST_FORM}