<h4>Edit an Existing User</h4>
<p>Review and update the users information.<br />
No fields can be updated to specify "blank" values. Any blank fields submitted will not be updated.<br />
Otherwise, the requirements for editing these fields are the same as for adding a new User:<br />
-1- &nbsp; User Names must only contain letters and numbers. (A-Z and 0-9)<br />
-2- &nbsp; Passwords must be between 8 and 32 characters long.<br />
-3- &nbsp; Email addresses must be valid. (No Automated checking for this yet.)<br />
</p>
<strong>Last Online: </strong> {USER_LAST_ACTIVE} &nbsp; &nbsp; &nbsp; <strong>User Joined On: </strong> {USER_JOINED_TIME}<br />
<br />
{EDIT_USER_FORM}